footer{ 
    margin-top: 0px;
    font-family: $fuente-umami;
	padding-top: 30px;
	padding-bottom: 0px;
	font-size: 14px;
	background-color:$color-primario;
    h2{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-bottom: 0px;
        .logoFooter{
            margin-left: 20px;
            margin-right: 20px;
        }
        .wasap{
            padding-bottom: 9px;
        }
    }
    h3{
 	display: inline;
    }
 }