.header_logo {
    img{
    padding-top: 30px;
    display: block;
    margin: auto;
    }
}
.menu{
    background-color: rgb(20, 1, 61) !important;
}
section h2{
    font-family: $fuente-umami;
    text-align: center;
    font-size: 50px;
}
header{
    color: $color-primario;
    font-family: $fuente-umami;
    a{
        margin: 0px 0px 0px 0px !important;
        padding-left: 50px;
        padding-right: 50px;
        font-family: $fuente-texto;
        transition: 2s;
        color: white !important;
    }
    a:hover{
        background-color: white;
        color:rgb(20, 1, 61) !important;
        padding-right: 53px;
        padding-left: 53px;
    }
}