main{
    background-color: wheat;
}
.btn{
    margin: 100px !important;
    background-color: $color-primario !important;
}
form{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}