$color-primario: rgb(20, 1, 61);
$fuente-umami: 'Dancing Script', cursive;
$fuente-texto:'Oswald', sans-serif;

html{
    scroll-behavior: smooth;
    margin: auto;
    padding: auto;
}
@import "_header";
@import "estilo_inscripcion";

//encabezados para todos los html//

.encabezado{
    h2{
        padding: 90px;
        font-size: 100px;
    }
    h3{
        font-family: $fuente-texto;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media(max-width: 576px) {
    .titulo {
        font-size: 38px !important;
        padding-top: 40px !important;
        padding-bottom: 20px !important;
    }
    .subtitulo{
        font-size: 20px !important;
        padding: 0px 20px 0px 20px !important;
    }
    .blockquote{
        font-size: 30px !important;
    }

}

// carrousel de fotos//
.fotos{
    .carousel-inner img {
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .carousel-control-prev-icon,.carousel-control-next-icon{
        background-color:rgb(20, 1, 61);
        padding: 20px;
    }
    .carousel-caption--tarta{
        background-color: rgba(165, 165, 0, 0.76);
    }
    .carousel-caption--cheescake{
        background-color: rgba(175, 8, 8, 0.747);
    }
    .carousel-caption--tortilla{
        background-color: rgba(128, 98, 3, 0.678);
    }
}
//frase//
.blockquote {
    margin: 50px 30px 40px 30px;
    font-family: $fuente-texto;
    color: $color-primario;
    font-size: 48px;
}
.blockquote-footer{
    color: $color-primario;
    font-family: $fuente-umami;
    font-size: 40px;
    margin-bottom: 100px;
}
.profesor_grid{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

// que es cocina umami del Inicio//

.queEsCocinaUmami{
    color: $color-primario;
}

.parrafo{
    font-family: $fuente-texto;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 38px;
	line-height: 2;
	word-spacing: 11px;
}

.profesor_imagen{
    padding: 50px 50px 50px 50px;
}
.profesor--cocinaUmami{
    font-family: $fuente-umami;
    display: inline;
    font-size: 42px;
}

@import "_footer";