main{
    background-color: wheat;
    margin: auto;
    padding: auto;
}
.btn{
    background-color: $color-primario !important;
}
.btn-primary{
    border-color: white !important;
}
form{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}